#ifndef CREDENTIALS_H
#define CREDENTIALS_H

#define WIFI_SSID     "YourWiFiSSID"
#define WIFI_PASS     "YourWiFiPassword"

// Override WS_URI if different from default in config.h
// #define WS_URI     "ws://192.168.1.200:18790/v1/live"

#endif // CREDENTIALS_H
